h1 {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 150, 255, 0.4),
    0 0 20px rgba(0, 150, 255, 0.5);
}

h1:hover {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4), 0 0 8px rgba(0, 150, 255, 0.6),
    0 0 16px rgba(0, 150, 255, 0.8), 0 0 32px rgba(0, 150, 255, 1);
}
