@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #000;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.bg-img {
  background-image: url(../src/assets/bg-img5.png);
}

.bg-light-mode {
  background: linear-gradient(135deg, #e0e0e0 0%, #b0b0b0 100%);
}

.bg-light-mode::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      circle at 70% 30%,
      rgba(255, 255, 255, 0.4) 0%,
      transparent 50%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
  pointer-events: none;
  mix-blend-mode: overlay;
}
